# mkosi/build artifacts

.bypass-lima
*.qcow2
build.*/
build/
env.json
mkosi.builddir/
mkosi.cache/
mkosi.packages/
mkosi/
NvVars

# temporary files

.temp
tmp/

# IDEs/agents/whatnot

.claudeignore
.claudesync/
.vscode
