# mkosi artifacts

build/
build.*/
env.json
mkosi.builddir/
mkosi.cache/
mkosi.packages/
mkosi/

# temporary files

.temp
tmp/

# IDEs/agents/whatnot

.claudeignore
.claudesync/
.vscode
*.qcow2
NvVars
