build/
mkosi/
env.json
mkosi.packages/
mkosi.cache/
mkosi.builddir/
mkosi.tools/
mkosi.tools.manifest
mkosi.sandbox
*.qcow2
*.raw
.claudesync/
.claudeignore
tmp/

!/**/.gitkeep
.vscode/
buildernet/src
