RETH_ARGS=--authrpc.addr 127.0.0.1 \
    --authrpc.jwtsecret /run/eth-jwt/jwt \
    --authrpc.port 8551 \
    --datadir /var/lib/persistent/reth \
    --full \
    --http \
    --http.addr 127.0.0.1 \
    --http.api eth,net,web3,trace,rpc,debug,txpool \
    --http.port 8545 \
    --ipcdisable \
    --log.file.max-files 0 \
    --log.stdout.filter info,rbuilder=debug \
    --log.stdout.format json \
    --metrics 127.0.0.1:9001 \
    --ws \
    --ws.addr 127.0.0.1 \
    --ws.api eth,net,trace,web3,rpc,debug,txpool \
    --ws.port 8546
