[Unit]
Description=Attested TLS proxy
After=ssh-pubkey-server.service
Requires=ssh-pubkey-server.service

[Service]
Type=simple
ExecStart=attested-tls-proxy server --listen-addr 0.0.0.0:8745 \
            --server-attestation-type auto \
            127.0.0.1:5001

Restart=always
RestartSec=5

[Install]
WantedBy=minimal.target
