[Unit]
Description=Searcher Network and Firewall Rules
After=network-online.target fetch-config.service
Wants=network-online.target
Requires=fetch-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/init-firewall.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
