[Unit]
Description=Disable root login
ConditionFirstBoot=yes
After=network.target network-setup.service
Wants=network-setup.service

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/disable-root-login

[Install]
WantedBy=default.target
