[Unit]
Description=Attested TLS Proxy server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=exec
DynamicUser=yes
SupplementaryGroups=tss
ExecStart=/usr/bin/attested-tls-proxy server \
  --listen-addr 0.0.0.0:7936 \
  --allowed-remote-attestation-type none \
  --server-attestation-type auto \
  --tls-private-key-path var/lib/persistent/operator-api/key.pem \
  --tls-certificate-path var/lib/persistent/operator-api/cert.pem \
  127.0.0.1:14727
Restart=on-failure

[Install]
WantedBy=multi-user.target
