[Unit]
Description=Attested TLS proxy server (https://github.com/flashbots/attested-tls-proxy)
Wants=network-online.target acme-le.service
After=network.target network-online.target acme-le.service

[Service]
Type=exec
User=attested-tls-proxy-server
SupplementaryGroups=tss
StateDirectory=persistent/attested-tls-proxy-server
ExecStart=/usr/bin/attested-tls-proxy server \
  --listen-addr 0.0.0.0:7936 \
  --server-attestation-type auto \
  --tls-private-key-path %S/persistent/attested-tls-proxy-server/key.pem \
  --tls-certificate-path %S/persistent/attested-tls-proxy-server/cert.pem \
  --allowed-remote-attestation-type none \
  localhost:14727
Restart=on-failure
