[Unit]
Description=FlowProxy - order flow proxy for BuilderNet
Wants=network-online.target flowproxy-downloader.service
After=network.target network-online.target flowproxy-downloader.service

[Service]
Type=exec
DynamicUser=yes
StateDirectory=persistent/flowproxy
EnvironmentFile=%E/flowproxy/flowproxy.env
LoadCredential=api-keys.toml:%E/flowproxy/api-keys.toml
Environment=API_KEYS_FILE=%d/api-keys.toml
ExecStart=/usr/bin/flowproxy
LimitNOFILE=65535
Restart=on-failure
RestartSec=5s
RestartSteps=5
RestartMaxDelaySec=1min

[Install]
WantedBy=multi-user.target
