[Unit]
Description=Fetch flowproxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=FLOWPROXY_SHA256SUM=2f95f4cf5caffdd2eedce610d4756200597bb08f9ec416558f909514a50b6511 \
            FLOWPROXY_TAG=v2.2.3 \
            FLOWPROXY_REPO=flowproxy-private \
            FLOWPROXY_ARTIFACT=flowproxy
EnvironmentFile=%E/gh_token.env
ExecStart=/bin/bash -c '[[ -f /usr/bin/flowproxy ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$FLOWPROXY_REPO" --tag "$FLOWPROXY_TAG" \
  --artifact-name "$FLOWPROXY_ARTIFACT" --output-file /usr/bin/flowproxy'
ExecStart=/bin/bash -c '[[ -f /usr/bin/flowproxy ]] || \
  echo "$FLOWPROXY_SHA256SUM" /usr/bin/flowproxy | sha256sum --check'
ExecStart=/bin/chmod +x /usr/bin/flowproxy
RemainAfterExit=yes
