[Unit]
Description=Fetch flowproxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=FLOWPROXY_SHA256SUM=679f09da25543565145933219e3b4179baf7ee750091278358f810f471f0629f \
            FLOWPROXY_TAG=v1.19.0 \
            FLOWPROXY_REPO=rbuilder-prism \
            FLOWPROXY_ARTIFACT=flowproxy-v1.19.0-x86_64-unknown-linux-gnu
EnvironmentFile=%E/gh_token.env
ExecStart=/bin/bash -c '[[ -f /usr/bin/flowproxy ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$FLOWPROXY_REPO" --tag "$FLOWPROXY_TAG" \
  --artifact-name "$FLOWPROXY_ARTIFACT" --output-file /usr/bin/flowproxy'
ExecStart=/bin/bash -c 'echo "$FLOWPROXY_SHA256SUM" /usr/bin/flowproxy | sha256sum --check'
ExecStart=/bin/chmod +x /usr/bin/flowproxy
RemainAfterExit=yes
