[Unit]
Description=Fetch flowproxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=FLOWPROXY_SHA256SUM=a825faf50f7e8bbeeeba6cab47454f1f743d27c8286ab4fdac6fc39053fad766 \
            FLOWPROXY_TAG=v2.2.1 \
            FLOWPROXY_REPO=flowproxy-private \
            FLOWPROXY_ARTIFACT=flowproxy
EnvironmentFile=%E/gh_token.env
ExecStart=/bin/bash -c '[[ -f /usr/bin/flowproxy ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$FLOWPROXY_REPO" --tag "$FLOWPROXY_TAG" \
  --artifact-name "$FLOWPROXY_ARTIFACT" --output-file /usr/bin/flowproxy'
ExecStart=/bin/bash -c '[[ -f /usr/bin/flowproxy ]] || \
  echo "$FLOWPROXY_SHA256SUM" /usr/bin/flowproxy | sha256sum --check'
ExecStart=/bin/chmod +x /usr/bin/flowproxy
RemainAfterExit=yes
