[Unit]
Description=Confgiures rendered hostname
DefaultDependencies=no
Wants=network-online.target render-config.service
After=network.target network-online.target render-config.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostname -F /etc/hostname

[Install]
WantedBy=basic.target
