[Unit]
Description=Load nftables ruleset
Wants=render-config.service
After=render-config.service
Before=haproxy.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nftables-load /etc/nftables/ruleset.nft /etc/nftables/privileged_ips.list
ExecReload=/usr/bin/nftables-load /etc/nftables/ruleset.nft /etc/nftables/privileged_ips.list

[Install]
WantedBy=multi-user.target
