[Unit]
Description=Fetch pamm-stream
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=PAMM_STREAM_SHA256SUM=29e4c7a5607477237c69447762aa5e25acc7f365d46add16a0fb62168fb0dd72 \
            PAMM_STREAM_TAG=v0.0.10 \
            PAMM_STREAM_REPO=pamm-stream \
            PAMM_STREAM_ARTIFACT=pamm-stream-v0.0.10-linux-x86_64
EnvironmentFile=%E/gh_token.env
ExecStart=/bin/bash -c '[[ -f /usr/bin/pamm-stream ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$PAMM_STREAM_REPO" --tag "$PAMM_STREAM_TAG" \
  --artifact-name "$PAMM_STREAM_ARTIFACT" --output-file /usr/bin/pamm-stream'
ExecStart=/bin/bash -c 'echo "$PAMM_STREAM_SHA256SUM" /usr/bin/pamm-stream | sha256sum --check'
ExecStart=/bin/chmod +x /usr/bin/pamm-stream
RemainAfterExit=yes
