[Unit]
Description=Fetch rbuilder-operator-reth and rbuilder-rebalancer
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=RBUILDER_OPERATOR_RETH_SHA256SUM=8e0a1a87b27faf84306233a243ca5e777614affd5a2e4b61aef4b6f68e14ff3e \
            RBUILDER_OPERATOR_RETH_TAG=v1.9.0 \
            RBUILDER_OPERATOR_RETH_REPO=rbuilder-prism \
            RBUILDER_OPERATOR_RETH_ARTIFACT=rbuilder-operator-reth-v1.9.0-x86_64-unknown-linux-gnu \
            RBUILDER_REBALANCER_SHA256SUM=c6ec66b5adc4ce1d41fe7047e7331473858554f744b041649c0cd2f4711a744a \
            RBUILDER_REBALANCER_TAG=v1.9.0 \
            RBUILDER_REBALANCER_REPO=rbuilder-prism \
            RBUILDER_REBALANCER_ARTIFACT=rbuilder-rebalancer-v1.9.0-x86_64-unknown-linux-gnu
EnvironmentFile=%E/gh_token.env

# rbuilder-operator-reth (reth EL with in-process rbuilder-operator)
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-operator-reth ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$RBUILDER_OPERATOR_RETH_REPO" --tag "$RBUILDER_OPERATOR_RETH_TAG" \
  --artifact-name "$RBUILDER_OPERATOR_RETH_ARTIFACT" --output-file /usr/bin/rbuilder-operator-reth'
ExecStart=/bin/bash -c 'echo "$RBUILDER_OPERATOR_RETH_SHA256SUM" /usr/bin/rbuilder-operator-reth | sha256sum --check'

# rbuilder-rebalancer
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-rebalancer ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$RBUILDER_REBALANCER_REPO" --tag "$RBUILDER_REBALANCER_TAG" \
  --artifact-name "$RBUILDER_REBALANCER_ARTIFACT" --output-file /usr/bin/rbuilder-rebalancer'
ExecStart=/bin/bash -c 'echo "$RBUILDER_REBALANCER_SHA256SUM" /usr/bin/rbuilder-rebalancer | sha256sum --check'

ExecStart=/bin/chmod +x /usr/bin/rbuilder-operator-reth /usr/bin/rbuilder-rebalancer
RemainAfterExit=yes
