[Unit]
Description=Fetch rbuilder-bidding
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=RBUILDER_BIDDING_SHA256SUM=60a52b4b33a76b3f3eb66ddb02c20435340a577da04d0bcc2ebc82122410b29b \
            RBUILDER_BIDDING_TAG=v1.3.1 \
            RBUILDER_BIDDING_REPO=rbuilder-bidding-service \
            RBUILDER_BIDDING_ARTIFACT=bidding-service
EnvironmentFile=%E/rbuilder-bidding/gh_token.env
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-bidding ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$RBUILDER_BIDDING_REPO" --tag "$RBUILDER_BIDDING_TAG" \
  --artifact-name "$RBUILDER_BIDDING_ARTIFACT" --output-file /usr/bin/rbuilder-bidding'
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-bidding ]] || \
  echo "$RBUILDER_BIDDING_SHA256SUM" /usr/bin/rbuilder-bidding | sha256sum --check'
ExecStart=/bin/chmod +x /usr/bin/rbuilder-bidding
RemainAfterExit=yes
