[Unit]
Description=Fetch rbuilder-operator-reth and rbuilder-rebalancer
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=RBUILDER_OPERATOR_RETH_SHA256SUM=b062a7c6be0c81738f327759cdf03abbcc03cbb99d43ad3adf39011e5f72b048 \
            RBUILDER_OPERATOR_RETH_TAG=v1.10.3 \
            RBUILDER_OPERATOR_RETH_REPO=rbuilder-prism \
            RBUILDER_OPERATOR_RETH_ARTIFACT=rbuilder-operator-reth-v1.10.3-x86_64-unknown-linux-gnu \
            RBUILDER_REBALANCER_SHA256SUM=cecf4e5854559e1cba5446c6e101594a9554f5463ce854084db857ec824de71d \
            RBUILDER_REBALANCER_TAG=v1.10.3 \
            RBUILDER_REBALANCER_REPO=rbuilder-prism \
            RBUILDER_REBALANCER_ARTIFACT=rbuilder-rebalancer-v1.10.3-x86_64-unknown-linux-gnu
EnvironmentFile=%E/gh_token.env

# rbuilder-operator-reth (reth EL with in-process rbuilder-operator)
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-operator-reth ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$RBUILDER_OPERATOR_RETH_REPO" --tag "$RBUILDER_OPERATOR_RETH_TAG" \
  --artifact-name "$RBUILDER_OPERATOR_RETH_ARTIFACT" --output-file /usr/bin/rbuilder-operator-reth'
ExecStart=/bin/bash -c 'echo "$RBUILDER_OPERATOR_RETH_SHA256SUM" /usr/bin/rbuilder-operator-reth | sha256sum --check'

# rbuilder-rebalancer
ExecStart=/bin/bash -c '[[ -f /usr/bin/rbuilder-rebalancer ]] || /usr/bin/fetch-gh-release-artifact fetch \
  --repo "$RBUILDER_REBALANCER_REPO" --tag "$RBUILDER_REBALANCER_TAG" \
  --artifact-name "$RBUILDER_REBALANCER_ARTIFACT" --output-file /usr/bin/rbuilder-rebalancer'
ExecStart=/bin/bash -c 'echo "$RBUILDER_REBALANCER_SHA256SUM" /usr/bin/rbuilder-rebalancer | sha256sum --check'

ExecStart=/bin/chmod +x /usr/bin/rbuilder-operator-reth /usr/bin/rbuilder-rebalancer
RemainAfterExit=yes
