[Unit]
Description=rbuilder-operator running in-process with the reth execution client (single process)
Documentation=https://github.com/flashbots/rbuilder
Wants=network-online.target eth-jwt.service
After=network.target network-online.target eth-jwt.service reth-download.service \
      rbuilder-operator-rebalancer-downloader.service
Requires=rbuilder-operator-rebalancer-downloader.service
ConditionPathExists=/var/lib/persistent/rbuilder-operator/rbuilder.enabled
StartLimitIntervalSec=0

[Service]
Type=exec
DynamicUser=no
User=rbuilder-operator
StateDirectory=persistent/rbuilder-operator persistent/reth
StateDirectoryMode=0775
RuntimeDirectory=rbuilder-operator
EnvironmentFile=%E/rbuilder-operator/reth.env
LoadCredential=config.toml:%E/rbuilder-operator/config.toml
ExecStartPre=/bin/bash -c '[[ -f /var/lib/persistent/rbuilder-operator/rbuilder.blocklist.json ]] || \
             echo "[]" > /var/lib/persistent/rbuilder-operator/rbuilder.blocklist.json'
ExecStart=/usr/bin/rbuilder-operator-reth node $RETH_ARGS --rbuilder.config %d/config.toml
Restart=on-failure
RestartSec=5s
RestartSteps=5
RestartMaxDelaySec=1min

[Install]
WantedBy=multi-user.target
