[Unit]
Description=rbuilder-operator running in-process with the reth execution client (single process)
Documentation=https://github.com/flashbots/rbuilder
Wants=network-online.target eth-jwt.service
After=network.target network-online.target eth-jwt.service reth-download.service \
      rbuilder-operator-rebalancer-downloader.service
Requires=rbuilder-operator-rebalancer-downloader.service
ConditionPathExists=/var/lib/persistent/rbuilder-operator/rbuilder.enabled
StartLimitIntervalSec=0

[Service]
Type=exec
DynamicUser=no
User=rbuilder-operator
StateDirectory=persistent/rbuilder-operator persistent/reth
StateDirectoryMode=0775
RuntimeDirectory=rbuilder-operator
RuntimeDirectoryMode=0711
EnvironmentFile=%E/rbuilder-operator/reth.env
LoadCredential=config.toml:%E/rbuilder-operator/config.toml
ExecStartPre=/bin/bash -c '[[ -f /var/lib/persistent/rbuilder-operator/rbuilder.blocklist.json ]] || \
             echo "[]" > /var/lib/persistent/rbuilder-operator/rbuilder.blocklist.json'
ExecStart=/usr/bin/rbuilder-operator-reth node $RETH_ARGS --rbuilder.config %d/config.toml
ExecStartPost=+/bin/bash -c 'while [[ ! -S %t/rbuilder-operator/orderflow.sock ]]; do /usr/bin/sleep 0.1; done; \
              /usr/bin/chgrp rbuilder-orderflow %t/rbuilder-operator/orderflow.sock && \
              /usr/bin/chmod 0660 %t/rbuilder-operator/orderflow.sock'
TimeoutStartSec=5min
Restart=on-failure
RestartSec=5s
RestartSteps=5
RestartMaxDelaySec=1min

[Install]
WantedBy=multi-user.target
