[Unit]
DefaultDependencies=no
Description=Pull and render configs from BuilderHub
Wants=network-online.target attested-tls-proxy-client.service
After=network.target network-online.target attested-tls-proxy-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/fetch-config /usr/lib/mustache-templates /
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
