[Unit]
Description=Sync reth snapshot
# Explicitly pull in persistent-setup dependency since ConditionPathIsDirectory
# does not verify if the path is an actual mount point
Requires=persistent-setup.service
Wants=network-online.target
After=network.target network-online.target persistent-setup.service
ConditionPathIsDirectory=!/var/lib/persistent/reth

[Service]
Type=oneshot
User=reth
StateDirectory=persistent/reth
LoadCredential=rclone.conf:%E/reth-sync/rclone.conf
Environment=RCLONE_CONFIG=%d/rclone.conf
ExecStart=/usr/bin/reth-sync

[Install]
WantedBy=multi-user.target
