[Unit]
Description=Sync reth snapshot
Wants=network-online.target
After=network.target network-online.target
ConditionPathIsDirectory=!/var/lib/persistent/reth

[Service]
Type=oneshot
User=reth
ConfigurationDirectory=reth-sync
StateDirectory=persistent/reth
ExecStartPre=+/bin/bash -c 'cd $CONFIGURATION_DIRECTORY && chown -R $USER .'
ExecStart=/usr/bin/reth-sync

[Install]
WantedBy=multi-user.target
