# TODO: refactor
[Unit]
Description=rbuilder Execution Layer client
After=network.target network-setup.service persistent-mount.service render-config.service
Requires=network-setup.service persistent-mount.service

[Service]
Type=exec
User=rbuilder
Group=eth
ExecStartPre=+/usr/bin/rbuilder-init
ExecStart=/usr/bin/rbuilder run /etc/rbuilder/rbuilder.config
Restart=on-failure
RestartSec=10

[Install]
WantedBy=minimal.target
