
# Remote write configuration (dynamically configured)
remote_write:
  # Flashbots endpoint
  - url: ${METRICS_URL}
    write_relabel_configs:
      # Only send flashbox: prefixed metrics
      - source_labels: [__name__]
        regex: 'flashbox:.*'
        action: keep
    basic_auth:
      username: ${METRICS_USERNAME}
      password: ${METRICS_PASSWORD}
