[Service]
# Clear the default ExecStart and use playground genesis
ExecStart=
ExecStart=/usr/bin/rbuilder-operator-reth node $RETH_ARGS \
    --chain /var/lib/persistent/playground/genesis.json \
    --trusted-peers "{{{playground.el_bootnode}}}" \
    --rbuilder.config %d/config.toml
