[Unit]
Description=ACME Let's Encrypt client (certificates renewal)
Wants=network-online.target
After=network.target network-online.target acme-le.service
ConditionPathExists=%S/persistent/acme.sh/bootstrap-complete

[Service]
Type=oneshot
User=acme-le
SupplementaryGroups=haproxy
StateDirectory=persistent/acme.sh
ConfigurationDirectory=acme-le
RuntimeDirectory=acme-le
RuntimeDirectoryPreserve=yes
Environment=ACME_HOME=%S/persistent/acme.sh \
            PRIV_KEY=%S/persistent/acme.sh/key.pem \
            CERT_FILE=%S/persistent/acme.sh/cert.pem \
            CSR_FILE=%S/persistent/acme.sh/csr.pem \
            OPERATOR_API_FIFO=/run/operator-api/journal.fifo
EnvironmentFile=%E/acme-le/acme-le.env
ExecStartPre=+/bin/bash -c 'cd $CONFIGURATION_DIRECTORY && chown -R $USER .'
ExecStart=/usr/bin/acme.sh --home %S/persistent/acme.sh --renew-all

[Install]
WantedBy=multi-user.target
