[Unit]
Description=rbuilder and rbuilder-bidding configs watchdog/reloader
Wants=network-online.target
After=network.target network-online.target render-config.service

[Service]
Type=oneshot
User=config-watchdog
RuntimeDirectory=config-watchdog
SupplementaryGroups=rbuilder-operator rbuilder-bidding
ExecStartPre=+/bin/bash -c 'R_S=/var/lib/persistent/rbuilder-operator; mkdir -p $R_S && \
                            chown rbuilder-operator:rbuilder-operator $R_S && \
                            chmod 775 $R_S'
ExecStart=/usr/bin/config-watchdog

[Install]
WantedBy=multi-user.target
