[Unit]
Description=CVM Reverse Proxy client
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=exec
DynamicUser=yes
Environment=BUILDERNET_BUILDERHUB_URL=__BUILDERNET_BUILDERHUB_URL
ExecStart=/usr/bin/cvm-reverse-proxy-client \
  --listen-addr=localhost:7937 \
  --target-addr=${BUILDERNET_BUILDERHUB_URL:-http://localhost:8080} \
  --server-attestation-type none
Restart=on-failure

[Install]
WantedBy=multi-user.target
