[Unit]
Description=Lighthouse Consensus Client
Wants=network-online.target eth-jwt.service
After=network.target network-online.target render-config.service eth-jwt.service

[Service]
Type=exec
User=lighthouse
StateDirectory=persistent/lighthouse
ExecStart=/usr/bin/lighthouse bn \
    --checkpoint-sync-url https://sync-mainnet.beaconcha.in \
    --execution-endpoint http://localhost:8551 \
    --execution-jwt /run/eth-jwt/jwt \
    --suggested-fee-recipient 0x000000000000000000000000000000000000dead \
    --always-prepare-payload \
    --prepare-payload-lookahead 8000 \
    --disable-deposit-contract-sync \
    --http \
    --port 9000 \
    --http-port 3500 \
    --metrics \
    --metrics-address 127.0.0.1 \
    --metrics-port 5054 \
    --datadir $S/persistent/lighthouse
Restart=on-failure

[Install]
WantedBy=multi-user.target
