[Unit]
Description=Operator API
Wants=network-online.target
After=network.target network-online.target render-config.service acme-le.service
Requires=operator-api-journald-pipe.service

[Service]
Type=exec
User=operator-api
SupplementaryGroups=rbuilder-operator
ConfigurationDirectory=operator-api
StateDirectory=persistent/operator-api
RuntimeDirectory=operator-api
Environment=SHELL_TO_USE=/bin/bash
ExecStartPre=+/bin/bash -c 'cd $CONFIGURATION_DIRECTORY && chown -R $USER .'
ExecStart=/usr/bin/operator-api --config %E/operator-api/config.toml

#CapabilityBoundingSet=
#RestrictAddressFamilies=AF_INET AF_INET6
#SystemCallArchitectures=native
#LockPersonality=yes
#MemoryDenyWriteExecute=yes
#PrivateDevices=yes
#PrivateUsers=yes
#ProtectControlGroups=yes
#ProtectHome=yes
#ProtectHostname=yes
#ProtectKernelLogs=yes
#ProtectKernelModules=yes
#ProtectKernelTunables=yes
#RestrictNamespaces=yes
#RestrictRealtime=yes
#SystemCallFilter=~@privileged
#SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
