[Unit]
Description=rbuilder bidding service
Wants=network-online.target rbuilder-bidding-downloader.service
After=network.target network-online.target render-config.service rbuilder-bidding-downloader.service

[Service]
Type=exec
User=rbuilder-bidding
SupplementaryGroups=rbuilder-operator
ConfigurationDirectory=rbuilder-bidding
RuntimeDirectory=rbuilder-bidding
ExecStartPre=+/bin/bash -c 'cd $CONFIGURATION_DIRECTORY && chown -R $USER .'
ExecStart=/usr/bin/rbuilder-bidding %E/rbuilder-bidding/config.toml
ExecReload=kill -HUP $MAINPID
PrivateNetwork=yes

[Install]
WantedBy=multi-user.target
