[Unit]
Description=rbuilder Execution Layer client
After=network.target network-setup.service persistent-mount.service render-config.service
ConditionPathExists=/var/lib/persistent/rbuilder/rbuilder.enabled

[Service]
Type=exec
User=rbuilder-operator
ConfigurationDirectory=rbuilder-operator::ro
StateDirectory=persistent/rbuilder-operator
RuntimeDirectory=rbuilder-operator
# ReadWritePaths=-/run/rbuilder-bidding/
EnvironmentFile=%E/rbuilder-operator/rbuilder-operator.env
ExecStartPre=/bin/bash -c '[[ ! -f $STATE_DIRECTORY/rbuilder.blocklist.json ]] \
             && echo "[]" > $STATE_DIRECTORY/rbuilder.blocklist.json'
ExecStart=/usr/bin/rbuilder-operator run %E/rbuilder-operator/config.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
