[Unit]
Description=rbuilder bidding service
Wants=network-online.target rbuilder-bidding-downloader.service
After=network.target network-online.target render-config.service rbuilder-bidding-downloader.service

[Service]
Type=exec
User=rbuilder-operator
ConfigurationDirectory=rbuilder-bidding
RuntimeDirectory=rbuilder-bidding
ExecStartPre=+/bin/bash -c 'chown -R $USER:rbuilder-operator $CONFIGURATION_DIRECTORY && \
                            chmod g=u $CONFIGURATION_DIRECTORY'
ExecStart=/usr/bin/rbuilder-bidding %E/rbuilder-bidding/config.toml
ExecStopPost=+/bin/bash -c 'rm -rf /tmp/iceoryx2 /dev/shm/iox2_*'
ExecReload=kill -HUP $MAINPID
PrivateNetwork=yes

[Install]
WantedBy=multi-user.target
