[Unit]
Description=Vector is a high-performance, end-to-end (agent & aggregator) observability data pipeline.
Wants=network-online.target
After=network.target network-online.target render-config.service

[Service]
Type=exec
User=vector
SupplementaryGroups=systemd-journal
ConfigurationDirectory=vector
StateDirectory=persistent/vector
ExecStartPre=+/bin/bash -c 'cd $CONFIGURATION_DIRECTORY && chown -R $USER .'
ExecStartPre=/usr/bin/vector validate
ExecStart=/usr/bin/vector
ExecReload=/usr/bin/vector validate --no-environment
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
