[Unit]
Description=Report VM is ready to Azure API
ConditionVirtualization=microsoft
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-complete-provisioning
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target