total_conn_regular={{nftables.total_conn_regular}}
total_conn_privileged={{nftables.total_conn_privileged}}
conn_rate_per_sec_regular={{nftables.conn_rate_per_sec_regular}}
conn_rate_per_sec_privileged={{nftables.conn_rate_per_sec_privileged}}
{{#haproxy.rate_limit_privileged_ips}}
privileged_ip={{.}}
{{/haproxy.rate_limit_privileged_ips}}
