[Unit]
Description=Set hostname from GCP metadata
ConditionVirtualization=google
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/set-hostname-gcp

[Install]
WantedBy=minimal.target
