[Unit]
Description=Set hostname
ConditionFirstBoot=yes
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/set-hostname.sh

[Install]
WantedBy=minimal.target
