[Unit]
Description=Set hostname
ConditionFirstBoot=yes
After=network.target network-setup.service
Wants=network-setup.service

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/bin/set-hostname.sh

[Install]
WantedBy=default.target
