LOG_JSON=true
FLASHBOTS_ORDERFLOW_SIGNER_ADDRESS={{orderflow_proxy.flashbots_orderflow_signing_address}}
USER_LISTEN_ADDR={{orderflow_proxy.user_listen_addr}}
SYSTEM_LISTEN_ADDR={{orderflow_proxy.system_listen_addr}}
BUILDER_ENDPOINT={{orderflow_proxy.builder_endpoint}}
BUILDER_CONFIGHUB_ENDPOINT={{orderflow_proxy.builder_confighub_endpoint}}
ORDERFLOW_ARCHIVE_ENDPOINT={{orderflow_proxy.orderflow_archive_endpoint}}
CONN_PER_PEER={{orderflow_proxy.conn_per_peer}}
MAX_USER_RPS={{orderflow_proxy.max_user_rps}}
