name: release

on:
  push:
    tags:
      - buildernet-v*
  workflow_dispatch: {}

jobs:
  build:
    name: build image
    uses: ./.github/workflows/_build-buildernet-image.yml
    with:
      r2-path-prefix: "buildernet-images"
      checksum-globs: "buildernet-*.{efi,tar.gz,vhd,qcow2}"
      r2-include: "buildernet-*.{efi,tar.gz,vhd,qcow2,minisig,sha256}"
      cache-name: "cache"
    secrets: inherit
